<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .form-group {
            width: 50%;
            margin: 0 auto;
        }
        
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container" style="padding: 0px 30px; margin-top: 20px">
        <div class="title" style="background-color: #cecece; padding: 10px 30px">
            <h1>Thêm dữ liệu</h1>
            <hr />
        </div>

        <form action="/submit" method="post">
            <div class="form-group">
                <label for="ten">Ten:</label>
                <input type="text" class="form-control" id="ten" name="ten">
            </div>
            <div class="form-group">
                <label for="gt">GioiTinh:</label>
                <input type="text" class="form-control" id="gt" name="gt">
            </div>
            <div class="form-group">
                <label for="tuoi">Tuoi:</label>
                <input type="text" class="form-control" id="tuoi" name="tuoi">
            </div>
            <div class="form-group">
                <label for="diemtoan">DiemToan:</label>
                <input type="text" class="form-control" id="diemtoan" name="diemtoan">
            </div>
            <div class="form-group">
                <label for="diemly">DiemLy:</label>
                <input type="text" class="form-control" id="diemly" name="diemly">
            </div>
            <div class="form-group">
                <label for="diemhoa">DiemHoa:</label>
                <input type="text" class="form-control" id="diemhoa" name="diemhoa">
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
</body>

</html>
</form>

</body>

</html>